@page
@using ncovid.web.Services
@model IndexModel
@{
    ViewData["Title"] = $"Corona virus Update (Live): {Model.AllResults.Cases:D} Cases and {Model.AllResults.Deaths:D} Deaths from COVID-19 Virus Outbreak ";
}
<div class="maincounter-wrap" style="margin-top:15px">
    <h1>Corona virus Cases:</h1>
    <div class="maincounter-number">
        <span style="color:#aaa">@Model.AllResults.Cases.ToString("n0") </span>

    </div>
</div>
<div class="maincounter-wrap" style="margin-top:15px">
    <h1>Deaths:</h1>
    <div class="maincounter-number">
        <span>@Model.AllResults.Deaths.ToString("n0")</span>
    </div>
</div>

<div class="maincounter-wrap" style="margin-top:15px;">
    <h1>Recovered:</h1>
    <div class="maincounter-number text-success">
        <span>@Model.AllResults.Recovered.ToString("n0")</span>
    </div>
</div>
<h3 id="countries">Confirmed Cases and Deaths by Country, Territory, or Conveyance</h3>
<p>The <strong>coronavirus</strong> COVID-19 is affecting
    <strong>196 countries and territories</strong> around the world and <strong>1 international conveyance</strong> (the<em> Diamond Princess </em>cruise ship harbored in Yokohama, Japan). <strong>The day is reset after midnight GMT+0</strong>.<br>
    <br>
</p>
@if (Model.Countries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table id="main_table_countries_today" class="table table-bordered table-hover table-sm" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th scope="col">Country,<br>Other</th>
                <th scope="col">Total<br>Cases</th>
                <th scope="col">New<br>Cases</th>
                <th scope="col">Total<br>Deaths</th>
                <th scope="col">New<br>Deaths</th>

                <th scope="col">Total<br>Recovered</th>
                <th scope="col">Active<br>Cases</th>
                <th scope="col">Serious,<br>Critical</th>
                <th scope="col">Tot&nbsp;Cases/<br>1M pop</th>
                <th scope="col">Tot&nbsp;Deaths/<br>1M pop</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.Countries)
            {
                <tr>
                    <td class="text-left font-weight-bold">@result.Country</td>
                    <td class="text-right font-weight-bold">@(result.Cases==0?"":$"{result.Cases:N0}")</td>
                    <td class="@(result.TodayCases==0?"table-light":"bg-warning") text-right font-weight-bold">@(result.TodayCases==0?"":$"+{result.TodayCases:n0}")</td>
                    <td class="text-right font-weight-bold">@(result.Deaths==0?"":$"{result.Deaths:n0}")</td>
                    <td class="@(result.TodayDeaths==0?"table-light":"bg-danger text-light") text-right font-weight-bold">@(result.TodayDeaths==0?"":$"+{result.TodayDeaths:n0}")</td>
                    <td class="text-right font-weight-bold"> @(result.Recovered==0?"":$"{result.Recovered:n0}")</td>
                    <td class="text-right font-weight-bold">@(result.Active==0?"":$"{result.Active:n0}")</td>
                    <td class="text-right font-weight-bold">@(result.Critical==0?"":$"{result.Critical:n0}")</td>
                    <td class="text-right font-weight-bold">@(result.CasesPerOneMillion==0?"":$"{result.CasesPerOneMillion}")</td>
                    <td class="text-right font-weight-bold">@(result.DeathsPerOneMillion==0?"":$"{result.DeathsPerOneMillion}")</td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts{
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" class="init">
        $.extend( $.fn.dataTable.defaults, {
            responsive: true
        } );
	
        $(document).ready(function() {
            $('#main_table_countries_today').dataTable({

                "scrollCollapse": true,
                "scrollX": true,
                "order": [

                    [1, 'desc']
                ],
                "sDom": '<"bottom"flp><"clear">',
                "paging": false

            });
        } );
    </script>
}